* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 40%;
	padding: 2rem 1rem;
	margin: auto;
	margin-top: -4%;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 10px 50px -20px #00828f;
	margin-bottom: 10%;
}

form {
	display: flex;
	flex-direction: column;
}

h1 {
	margin-bottom: 5%;
}

form input {
	font-family: "Noto Sans", sans-serif;
	padding: 10px;
	margin-bottom: 5%;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.createacc-btn {
	border-color: #f9b401;
	border-width: 2px;
	font-family: "Noto Sans", sans-serif;
	font-size: 18px;
	padding: 10px;
}

.createacc-btn:hover {
	color: #fff;
	background-color: #f9b401;
}

.line {
	margin-left: 10%;
	margin-top: -2%;
	margin-bottom: 5%;
	width: 80%;
}

.arrow {
	margin-left: 20%;
	margin-top: 4%;
}
