@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f2eeed;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;

	background-color: #f2eeed;
	border-bottom: 1px solid black;
}
.logo img {
	height: 90px;
	position: absolute;
	padding: 10px;
	top: 5px;
	left: 10px;
}
.photo-logo {
	position: relative;
	top: 30px;
	left: -100px;
	height: 50px;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	font-family: "Noto Sans", sans-serif;
}

nav ul li a {
	text-decoration: none;
}

h1 {
	color: #00828f;
	font-size: 50px;
	font-family: "Sedan", serif;
}
h2 {
	color: #00828f;
	font-size: 25px;
	font-family: "Sedan", serif;
}
h3 {
	color: #00828f;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;
}
h4 {
	color: #707070;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
}

p {
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
}
#button_1 {
	color: #00828f;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	background-color: #f2eeed;
	border: 2px solid #00828f;
	padding: 10px;
	margin: 5px;
	margin-top: 50px;
}
#button_1:hover {
	color: #f2eeed;
	background-color: #00828f;
	border: 2px solid #00828f;
	margin: 5px;
	margin-top: 50px;
}
.login-button {
	color: #5a5858;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;

	background-color: #f2eeed;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.login-button:hover {
	color: #f2eeed;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	background-color: #f9b401;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	text-decoration: none;
	padding: 8px 16px;
	display: inline-block;
	color: #5a5858;
}

/*.navbar ul li a:hover {
	text-decoration: underline;
	text-decoration-color: #00828f;
}
*/

.group {
	margin-left: -5%;
}

#eduction-title {
	padding-left: 40%;
	padding-right: 40%;
}
/* Media queries for responsive navigation */
@media (max-width: 768px) {
	.logo {
		display: none;
	}
	.navbar ul {
		flex-direction: column;
	}
	.navbar ul li {
		display: block;
	}
	.navbar ul li a {
		padding: 10px 20px;
	}
	nav ul {
		flex-direction: column;
		gap: 10px;
	}
	nav ul li a {
		font-size: 1.2em;
	}

	.login-button {
		margin-right: 7%;
	}
}

@media (max-width: 480px) {
	.navbar ul {
		flex-direction: column;
	}
	.navbar ul li {
		display: block;
	}
	.navbar ul li a {
		padding: 8px 15px;
	}
	nav ul {
		flex-direction: column;
		gap: 5px;
	}
	nav ul li a {
		font-size: 1em;
	}
}

@media (max-width: 320px) {
	.navbar ul {
		flex-direction: column;
	}
	.navbar ul li {
		display: block;
	}
	.navbar ul li a {
		padding: 6px 10px;
	}
	nav ul {
		flex-direction: column;
		gap: 2px;
	}
	nav ul li a {
		font-size: 0.9em;
	}
}

@media (max-width: 768px) {
	.navbar-toggle {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 24px;
		cursor: pointer;
	}
	.navbar ul {
		display: none;
	}
	.navbar ul.active {
		display: block;
	}
}
.navbar-toggle {
	display: none;
	font-size: 24px;
	cursor: pointer;
	padding: 10px;
	border: none;
	background-color: #f2eeed;
	color: #333;
	position: fixed;
	margin-right: 3%;
}

.navbar-toggle.active {
	background-color: #00828f;
	color: #fff;
}

@media (max-width: 768px) {
	.navbar-toggle {
		display: block;
	}
}

/*contact css*/

.title {
	text-align: center;
	margin-bottom: 5%;
}

.title > h1 {
	padding-top: 3%;
}

.contact-image img {
	width: 75%;
}

.contact-image {
	margin-left: 300px;
	padding-top: 30px;
}

.contact-info p {
	margin: 30px;
}

.email p {
	line-height: 35px;
}

.email {
	margin-left: 0px;
}

.contact-flex {
	display: flex;
	padding-top: 0px;
	align-items: center;
	margin-bottom: 225px;
}

.contact-info {
	text-align: left;
	width: 50%;
	padding-left: 300px;
}

.phone {
	margin-top: 50px;
}

.email a {
	color: #000000;
}

h2 {
	padding-left: 30px;
}

.line-contact {
	width: 16%;
	height: 4px;
	background-color: #f9b401;
	margin: 0 auto;
	transform: skewX(-80deg);
}

/*einde contact css*/

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner {
	width: 100%;
	height: 30%;
	background-image: url("/img/home_banner.png");
	z-index: 1;
}

.test-para {
	margin: 10px;

	max-width: 630px;
	min-width: auto;
	height: auto;
	padding: 10px;
	transform: skewx(-15deg);
	border: #f9b401 solid 3px;
	background-color: #f2eeed;
	z-index: 2;
	box-sizing: border-box;
	position: relative;
	top: -100px;
}
.test-para > p {
	margin: 15px;
	margin-top: 10px;
	font-size: 20px;
	position: relative;
	float: left;
	color: #00828f;
}
.test-para > h2 {
	float: left;
	margin-left: 5px;
	padding: 10px;
	font-size: 27px;
}
.test-para > img {
	float: left;
	padding: 10px;
	height: 48px;
	transform: skewX(15deg);
}
.flex-home {
	display: flex;
	margin-bottom: 100px;
	justify-content: center;
	align-items: flex-end;
	margin-left: 5%;
	margin-right: 5%;
	flex-wrap: wrap;
	gap: 20px;
}

.photo-container {
	position: relative; /* Needed for element positioning */
	overflow: hidden; /* Clip overflowing content (optional) */
	padding: 10px;
	height: auto;
	min-width: 500px;
}
.photo-container::after {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%); /* Center the element */
	width: 200px; /* Adjust size of the square */
	height: 200px; /* Adjust size of the square */
	background-color: #f9b401; /* Color of the square */
	animation: goaround 10s ease-in-out infinite; /* Animation properties */
	z-index: -1;
}

@keyframes goaround {
	0% {
		top: 0;
		left: 0;
	}
	25% {
		top: 400px;
		left: 0;
	}
	50% {
		top: 400px;
		left: 420px;
	}
	75% {
		top: 0;
		left: 420px;
	}
	100% {
		top: 0;
		left: 0;
	}
}

.photo-container2 {
	position: relative; /* Needed for element positioning */
	min-width: 500px;
}
.photo-container2::after {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%); /* Center the element */
	width: 200px; /* Adjust size of the square */
	height: 200px; /* Adjust size of the square */
	background-color: #f9b401; /* Color of the square */
	animation: goaround2 10s ease-in-out infinite; /* Animation properties */
	z-index: -1;
}

@keyframes goaround2 {
	0% {
		top: 420px;
		left: 410px;
	}
	25% {
		top: -20px;
		left: 410px;
	}
	50% {
		top: -20px;
		left: -20px;
	}
	75% {
		top: 420px;
		left: -20px;
	}
	100% {
		top: 420px;
		left: 410px;
	}
}
.photo-container-blue::after {
	background-color: #81c0c5;
}

.flex-item {
	padding: 10px;
	margin: 10px;
	width: 45%;
	min-width: 500px;
}
.flex-item-img {
	width: 500px;
	overflow: hidden;
}
.flex-item-img2 {
	width: 500px;
	overflow: hidden;
}

.flex-item > ul {
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
}

.flex-item > h1 {
	font-size: 30px;
}
.line {
	width: 20%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-top: 5px;
	transform: skewX(-80deg);
}

.line-education {
	width: 70%;
	height: 2px;
	background-color: #81c0c5;
	position: relative;
	left: 60px;
	top: -35px;
}

#button_1 {
	margin-top: 50px;
}

#tekst-video {
	font-size: 30px;
	float: left;
	margin-bottom: 40px;
	color: #00828f;
}
ul {
	list-style-type: circle;
}
#video-container {
	margin-bottom: 100px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	align-items: center;
}

#video-home {
	width: 100%;
	height: 450px;
}
footer {
	width: 100%;
	background-color: white;
}
#footer-menu {
	background-color: #81c0c5;
}
.footer-lines {
	width: 100%;
	height: 1px;
	background-color: #81c0c5;
}
#footer-line-1 {
	margin-bottom: 50px;
}

#footer-line-2 {
	margin-bottom: 40px;
}

#footer-line-3 {
	margin-bottom: 30px;
}

#footer-line-4 {
	margin-bottom: 20px;
}

#footer-line-5 {
	margin-bottom: 10px;
}

#footer-line-6 {
	margin-bottom: 5px;
}
@keyframes slides {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.logos {
	overflow: hidden;
	padding: 30px 0px;
	white-space: nowrap;
	position: relative;
}

.logos:before,
.logos:after {
	position: absolute;
	top: 0;
	content: "";
	width: 250px;
	height: 100%;
	z-index: 2;
}

.logos:before {
	left: 0;
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255)
	);
}

.logos:after {
	right: 0;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255)
	);
}

.logo_items {
	display: inline-block;
	animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
	animation-play-state: paused;
}

.logo_items img {
	height: 80px;
	margin-right: 50px;
}

#footer-nav {
	padding-top: 50px;
}

#footer-nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
	font-family: "Noto Sans", sans-serif;
}

#footer-nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}
#footer-socials {
	display: flex;
	justify-content: center;
	gap: 5%;
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer-socials img {
	height: 30px;
}

#footer-socials a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#map-school {
	padding: 5%;
	align-items: center;
}
#map-school > img {
	resize: stretch;
	width: 100%;
}

.line-ed {
	width: 100%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-top: 0px;
	transform: skewX(-80deg);
}
.education-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 100px;
}
.education-flex-item {
	width: 30%;
	min-width: 300px;
	margin-top: 100px;
}
.education-flex-item > h2 {
	position: relative;
	top: -40px;
	left: 30px;
}
.education-flex-item > img {
	position: relative;
	top: 0;
	left: 0;
}

.education-flex-item > ul {
	position: relative;
	top: -10px;
	left: 60px;
	text-decoration: none;
	list-style: none;
}
#education-title > h1 {
	margin-top: 50px;
}

.education-flex-item > ul > li {
	margin-bottom: 15px;
}

.link-school {
	text-decoration: underline;
	font-family: "Noto Sans", sans-serif;
	color: #5a5858;
	flex-wrap: wrap;
}
#search-bar {
	width: 15%;
	padding: 10px;
	margin: 20px;
	font-size: 15px;
}
.flex-item-2 {
	width: 90%;
	margin-bottom: 3%;
	margin-top: -2%;
}

.flex-item-2 > h2 {
	margin-left: -2.5%;
}
#title-tips {
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 30%;
}
#search-glass {
	height: 30px;
	resize: stretch;
}

.line-tips {
	width: 90%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-top: 0px;
	margin: 0 auto;
	transform: skewX(-80deg);
}

.line-faq {
	width: 10%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-top: 0px;
	transform: skewX(-80deg);
}

.reply-button {
	margin-left: 92%;
	width: 8%;
}
.reply-button:hover {
	margin-left: 92%;
	width: 8%;
}
.conversation-box {
	width: 90%;
	background-color: #f2f2f2;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 10px 50px -20px #00828f;
}

.chat-header {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 10px;
}

.line-talk {
	width: 10%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-top: 0px;
	margin-left: 23.5%;
	transform: skewX(-80deg);
}

.chat-messages {
	margin-top: 3%;
	height: 300px;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.message {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.sender {
	font-weight: bold;
	margin-right: 5px;
}

.content {
	flex-grow: 1;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.reply {
	font-size: 0.8em;
	color: #ccc;
	cursor: pointer;
}

.message.reply-message {
	margin-left: 50px;
}

.chat-input {
	display: flex;
}

.chat-input input {
	flex-grow: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.menu-item-active {
	border-bottom: 2px solid #f9b401;
}
#error-message {
	color: red;
	font-style: oblique;
}
#uitloggen {
	display: none;
}
