@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f2eeed;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;

	background-color: #F2EEED;
	border-bottom: 1px solid black;

	
}
.logo img {
	height: 50px;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	font-family: "Noto Sans", sans-serif;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
}

h1 {
	color: black;
	font-size: 50px;
	font-family: "Sedan", serif;
}
h2 {
	color: #00828f;
	font-size: 25px;
	font-family: "Sedan", serif;
}
h3 {
	color: #00828f;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;
}
h4 {
	color: #707070;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
}

p {
	font-size: 20px;
}
#button_1 {
	color: #00828f;
	font-size: 25px;
	font-family: "Noto Sans";
	background-color: #f2eeed;
	border: 2px solid #00828f;
	padding: 5px;
	margin: 5px;
}
#button_1:hover {
	color: #f2eeed;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;
	background-color: #00828f;
	border: 2px solid #00828f;
	padding: 5px;
	margin: 5px;
}
.login-button {
	color: #5a5858;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;

	background-color: #F2EEED;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.login-button:hover {
	color: #F2EEED;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	background-color: #f9b401;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	text-decoration: none;
	padding: 8px 16px;
	display: inline-block;
	color: #5a5858;
}

.navbar ul li a:hover {
	text-decoration: underline;
	text-decoration-color: #00828f;
}

.group {
	margin-left: -5%;
}

/*contact css*/

.main-title-contact {
	font-size: 40px;
	margin-bottom: 0;
	padding: 3%;
	padding-bottom: 0px;
	color: #000000;
	text-align: center;
}

.contact-image img {
	width: 75%;
}

.contact-image {
	margin-left: 300px;
	padding-top: 30px;
}

.contact-info p {
	margin: 30px;
}

.email p {
	line-height: 35px;
}

.email {
	margin-left: 0px;
}

.contact-flex {
	display: flex;
	padding-top: 0px;
	align-items: center;
	margin-bottom: 225px;
}

.contact-info {
	text-align: left;
	width: 50%;
	padding-left: 300px;
}

.phone {
	margin-top: 50px;
}

.email a {
	color: #000000;
}

h2 {
	padding-left: 30px;
}

.line-contact {
	width: 10%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-left: 770px;
	margin-top: 0px;
	transform: skewX(-80deg);
}

/*einde contact css*/

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner {
	width: 100%;
	height: 30%;
	background-image: url("home_banner.png");
	z-index: 1;
}

.test-para {
	margin: 10px;
	width: 630px;
	height: auto;
	padding: 10px;
	transform: skewx(-15deg);
	border: #f9b401 solid 3px;
	background-color: #f2eeed;
	z-index: 2;
	box-sizing: border-box;
	position: relative;
	top: -100px;
}
.test-para > p {
	margin: 15px;
	margin-top: 10px;
	font-size: 23px;
	position: relative;
	float: left;
	color: #00828f;
}
.test-para > h2 {
	float: left;
	color: black;
	margin-left: 5px;
	padding: 10px;
	font-size: 27px;
}
.test-para > img {
	float: left;
	padding: 10px;
	height: 48px;
	transform: skewX(15deg);
}
.flex-home {
	display: flex;
	margin-bottom: 100px;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	flex-wrap: wrap;
}

.flex-item {
	padding: 10px;
	margin: 10px;
	width: 45%;
	min-width: 400px;
}

.flex-item > * {
	font-size: 25px;
	color: #000;
}
.flex-item > h1 {
	font-size: 30px;
}
.line {
	width: 20%;
	height: 4px;
	background-color: #f9b401;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-top: 5px;
	transform: skewX(-80deg);
}

#button_1 {
	margin-top: 50px;
}
#tekst-video {
	font-size: 30px;
	float: left;
	margin-bottom: 40px;
	color: gray;
}
ul {
	list-style-type: circle;
}
#video-container {
	margin-bottom: 100px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	align-items: center;
}
#video-home {
	width: 90%;
	height: 450px;
}
footer {
	background-color: white;
}
#footer-menu {
	background-color: #81c0c5;
}
.footer-lines {
	width: 100%;
	height: 1px;
	background-color: #81c0c5;
}
#footer-line-1 {
	margin-bottom: 50px;
}

#footer-line-2 {
	margin-bottom: 40px;
}

#footer-line-3 {
	margin-bottom: 30px;
}

#footer-line-4 {
	margin-bottom: 20px;
}

#footer-line-5 {
	margin-bottom: 10px;
}

#footer-line-6 {
	margin-bottom: 5px;
}
@keyframes slides {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.logos {
	overflow: hidden;
	padding: 30px 0px;
	white-space: nowrap;
	position: relative;
}

.logos:before,
.logos:after {
	position: absolute;
	top: 0;
	content: "";
	width: 250px;
	height: 100%;
	z-index: 2;
}

.logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logo_items {
	display: inline-block;
	animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
	animation-play-state: paused;
}

.logo_items img {
	height: 80px;
	margin-right: 50px;
}

#footer-nav {
	padding-top: 50px;
}

#footer-nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
	font-family: "Noto Sans", sans-serif;
}

#footer-nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}
#footer-socials {
	display: flex;
	justify-content: center;
	gap: 5%;
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer-socials img {
	height: 30px;
}

#footer-socials a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#map-school {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.education-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 100px;
}
.education-flex > * {
	width: 300px;
}
.e_f_element {
	width: 100%;
	display: block;
	padding: 5px;
	height: 30px;
	padding-left: 50px;
	box-sizing: border-box;
}

.link-school {
	text-decoration: underline;
	color: #5a5858;
	flex-wrap: wrap;
}
#search-bar {
	width: 15%;
	padding: 10px;
	margin: 20px;
	font-size: 15px;
}
