@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f2eeed;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.logo img {
	height: 50px;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	font-family: "Noto Sans", sans-serif;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
}

h1 {
	color: black;
	font-size: 40px;
	font-family: "Sedan", serif;
}
h2 {
	color: #00828f;
	font-size: 25px;
	font-family: "Sedan", serif;
}
h3 {
	color: #00828f;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;
}
h4 {
	color: #707070;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
}
#button_1 {
	color: #00828f;
	font-size: 25px;
	font-family: Noto Sans;
	background-color: #f2eeed;
	border: 2px solid #00828f;
	padding: 5px;
	margin: 5px;
}
#button_1:hover {
	color: #f2eeed;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;
	background-color: #00828f;
	border: 2px solid #00828f;
	padding: 5px;
	margin: 5px;
}
.login-button {
	color: #5a5858;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	background-color: #ffffff;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.login-button:hover {
	color: #ffffff;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	background-color: #f9b401;
	border: 2px solid #f9b401;
	padding: 5px;
	margin: 5px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	text-decoration: none;
	padding: 8px 16px;
	display: inline-block;
	color: #5a5858;
}

.navbar ul li a:hover {
	text-decoration: underline;
	text-decoration-color: #00828f;
}

/*contact css*/

.main-title-contact {
	font-size: 40px;
	margin-bottom: 0;
	padding: 3%;
	padding-bottom: 25px;
	color: #000000;
	text-align: center;
}

.contact-image img {
	width: 75%;
}

.contact-image {
	margin-left: 300px;
	padding-top: 30px;
}

.contact-info p {
	margin: 30px;
}

.email p {
	line-height: 35px;
}

.email {
	margin-left: 0px;
}

.contact-flex {
	display: flex;
	padding-top: 0px;
	align-items: center;
}

.contact-info {
	text-align: left;
	width: 50%;
	padding-left: 300px;
}

.phone {
	margin-top: 50px;
}

.email a {
	color: #000000;
}

h2 {
	padding-left: 30px;
}
